*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.border{
    border: 3px solid #000000;
}
header{
    width: 100%;
    height: 150px;
}
nav{
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 80px;
    background-color: #00504c;
}
.logo{
    float: left;
    margin: 15px 15px;
}
nav ul{
    list-style-type: none;
    text-align: center;
    float: right;
}
nav ul a{
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    padding: 30px;
}
nav ul a:link{
    color: #ffffff;
}
nav ul a:hover{
    color: #000000;
    background-color: #ffffff;
}
nav ul a:active{
    color: #ffffff;
    background-color: #000000;
}
nav ul a li{
    display: inline-block;
    margin: 25px 25px;
}